spring:
  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

jwt:
  secret: ${JWT_SECRET:minha-chave-super-secreta-urbanaPE}
  expiration: 3600000

springdoc:
  swagger-ui:
    path: /swagger
